@page "/notepad"
@using note_nexus_client.Components
@attribute [Authorize]

<PageTitle>Notepad</PageTitle>

<SectionContent SectionName="Breadcrumbs">
    NoteNexus / <span>Notepad</span>
</SectionContent>

<div class="nn-card" style="grid-column: 1 / -1; max-width: 800px;">
    <NoteWidget />
</div>