@page "/todos"
@using note_nexus_client.Components
@attribute [Authorize]

<PageTitle>Todo List</PageTitle>

<SectionContent SectionName="Breadcrumbs">
    NoteNexus / <span>Todo List</span>
</SectionContent>

<div class="nn-card" style="grid-column: 1 / -1; max-width: 800px;">
    <TodoWidget />
</div>